<h1>md-list-item</h1>
<md-card>
  <md-list-item>
    Headline
  </md-list-item>
</md-card>
<md-card>
  <md-list-item>
    Headline
    <span slot="supporting-text">Supporting text</span>
  </md-list-item>
</md-card>
<md-card>
  <md-list-item>
    <md-icon slot="leading">home</md-icon>
    Headline
    <span slot="supporting-text">Supporting text</span>
  </md-list-item>
</md-card>
<md-card>
  <md-list-item>
    <img slot="leading" src="https://placehold.co/600x400">
    Headline
    <span slot="supporting-text">Supporting text</span>
  </md-list-item>
</md-card>
<md-card>
  <md-list-item large>
    <img slot="leading" src="https://placehold.co/600x400">
    Headline
    <span slot="supporting-text">
      Ullamco quis laborum sint exercitation voluptate est esse. Pariatur commodo id in esse eu. Qui qui fugiat minim adipisicing ad aliqua deserunt Lorem ex exercitation nostrud ex. Reprehenderit labore dolor dolor elit excepteur exercitation amet. Laborum nostrud ullamco officia nisi magna incididunt ea velit. Cillum exercitation laborum do adipisicing anim elit sit. Mollit excepteur ea quis magna fugiat ex aliqua.
    </span>
  </md-list-item>
</md-card>
<md-card>
  <md-list-item activatable>
    <md-icon slot="leading">home</md-icon>
    Headline
    <span slot="supporting-text">Supporting text</span>
    <md-icon slot="trailing">home</md-icon>
  </md-list-item>
</md-card>
<md-card>
  <md-list-item selected activatable>
    <md-icon slot="leading">home</md-icon>
    Headline
    <span slot="supporting-text">Supporting text</span>
    <md-icon slot="trailing">home</md-icon>
  </md-list-item>
</md-card>