<h1>md-segmented-button</h1>
<md-card>
  <div>
    <md-segmented-button>Hey</md-segmented-button>
  </div>
  <div>
    <md-segmented-button selected>Hey</md-segmented-button>
  </div>
  <div>
    <md-segmented-button disabled>Hey</md-segmented-button>
  </div>
  <div>
    <md-segmented-button selected disabled>Hey</md-segmented-button>
  </div>
</md-card>
<md-card class="gap-0">
  <md-segmented-button>Hey</md-segmented-button>
  <md-segmented-button>Hey</md-segmented-button>
</md-card>
<md-card class="gap-0">
  <md-segmented-button>Hey</md-segmented-button>
  <md-segmented-button>Hey</md-segmented-button>
  <md-segmented-button>Hey</md-segmented-button>
</md-card>