<app-page>
  <md-list-item>
    Icon
    <md-check [switch]="true" [(value)]="icon" />
  </md-list-item>
  <md-list-item>
    Headline
    <md-check [switch]="true" [(value)]="headline" />
  </md-list-item>
  <md-list-item>
    Supporting Text
    <md-check [switch]="true" [(value)]="supportingText" />
  </md-list-item>
  <md-list-item>
    Actions
    <md-check [switch]="true" [(value)]="actions" />
  </md-list-item>
  <app-selector-list-item [(selectedValue)]="bodyText" [options]="bodyText.values">
    Body
  </app-selector-list-item>

  <md-card>
    <md-button (click)="dialog.open.set(true)">
      Open Dialog
    </md-button>
    <md-dialog #dialog>
      @if (icon()) {
      <md-icon slot="icon">Home</md-icon>
      }
      @if (headline()) {
      <span slot="headline">Headline</span>
      }
      @if (supportingText()) {
      <span slot="supporting-text">
        Laboris eu velit et velit qui quis.
      </span>
      }
      @switch (bodyText()) {
      @case ('short') {
      <p>Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id.</p>
      }
      @case ('long') {
      <p>Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.
        Laboris eu velit et velit qui quis. Minim nulla cillum deserunt velit ipsum ipsum. Irure elit consequat
        consectetur sit culpa sunt et velit ullamco Lorem ea id. Laboris eu velit et velit qui quis. Minim nulla cillum
        deserunt velit ipsum ipsum. Irure elit consequat consectetur sit culpa sunt et velit ullamco Lorem ea id.</p>
      }
      }
      @if (actions()) {
        <md-button (click)="dialog.open.set(false)">Okay</md-button>
        <md-button (click)="dialog.open.set(false)">Cancel</md-button>
      }
    </md-dialog>
  </md-card>
</app-page>