<app-page>
  <app-selector-list-item [(selectedValue)]="number" [options]="number.values">
    Number
  </app-selector-list-item>
  <md-list-item>
    Dot
    <md-check [switch]="true" [(value)]="dot" />
  </md-list-item>
  <md-list-item>
    Embedded
    <md-check [switch]="true" [(value)]="embedded" />
  </md-list-item>

  <md-card>
    <div class="w-10 h-10 border border-solid border-outline relative inline-flex items-center justify-center">
      <md-badge [embedded]="embedded()" [dot]="dot()" [number]="number()" />
    </div>
  </md-card>
</app-page>