@use '../methods' as md;

@mixin dialog {
  :host {
    display: contents;
    margin: auto;
    position: fixed;
    height: fit-content;
    width: fit-content;
  
    dialog {
      background: transparent;
      border: none;
      border-radius: inherit;
      flex-direction: column;
      height: inherit;
      margin: inherit;
      max-height: inherit;
      max-width: inherit;
      min-height: inherit;
      min-width: inherit;
      outline: none;
      overflow: visible;
      padding: 0;
      width: inherit;
      color: var(--md-sys-color-surface-on);
    }
  
    dialog[open] {
      display: flex;
    }
  
    ::backdrop {
      background: none;
    }
  
    .container {
      position: relative;
      border-radius: inherit;
      display: flex;
      border-radius: var(--_container-shape);
      flex-direction: column;
  
      &::before {
        content: '';
        background-color: var(--_container-color);
        border-radius: inherit;
        inset: 0;
        position: absolute;
      }
    }
  
    .container-content {
      overflow-y: auto;
      position: relative;
      border-radius: inherit;
      display: flex;
      border-radius: var(--_container-shape);
      flex-direction: column;
      gap: 24px;
      padding: 24px;
    }
  
    .header {
      flex-direction: column;
      width: 100%;
      display: none;
      gap: 16px;
    }
  
    .headline {
      @include md.typescale('headline', 'small');
      color: var(--_headline-color);
      display: none;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
    }
  
    .supporting-text {
      display: none;
      @include md.typescale('body', 'medium');
      color: var(--_supporting-text-color);
    }
  
    .icon {
      display: none;
      color: var(--_icon-color);
  
      ::slotted(md-icon) {
        --md-sys-icon-size: 24;
      }
    }
  
    .scrim {
      background: var(--md-sys-color-scrim);
      display: none;
      inset: 0;
      opacity: 32%;
      pointer-events: none;
      position: fixed;
      z-index: var(--md-sys-z-index-scrim);
    }
  
    .actions {
      display: none;
      gap: 8px;
      justify-content: flex-end;
    }
  
    .scroller {
      display: none;
      overflow-y: auto;
      flex-direction: column;
    }
  
    .content {
      height: min-content;
      position: relative;
    }
  }
  
  :host([open]) .scrim {
    display: flex;
  }
  
  :host([has-icon]) {
    .icon {
      display: inline;
    }
  }
  
  :host([has-supporting-text]) {
    .supporting-text {
      display: block;
    }

    .header {
      display: flex;
    }
  }
  
  :host([has-headline]) {
    .headline {
      display: flex;
    }

    .header {
      display: flex;
    }
  }

  
  :host([has-actions]) {
    .actions {
      display: flex;
    }
  }
  
  :host([has-body]) {
    .scroller {
      display: flex;
    }
  }
}
