@use '../methods' as md;

@mixin popover {
  :host {
    cursor: auto;
    display: none;
    flex-direction: column;
    inset: auto;
    isolation: isolate;
    opacity: 0;
    margin: 0;
    background-color: transparent;
    overflow: visible;
    border-radius: var(--_container-shape);
    border: 0;

    .popover-container {
      position: absolute;
      background-color: var(--_container-color);
      inset: 0;
      border-radius: inherit;
    }

    .popover-body {
      display: flex;
      flex-direction: column;
      opacity: 0;
    }
  }

  :host([strategy='fixed']) {
    position: fixed;
  }

  :host([strategy='absolute']) {
    position: absolute;
  }
}
