<app-page>
  <md-list-item>
    Open
    <md-check [switch]="true" [(value)]="open" />
  </md-list-item>

  <md-card>
    <md-accordian [(open)]="open">
      <span slot="headline">Headline</span>
      Excepteur in dolor quis labore cillum pariatur commodo commodo et pariatur voluptate sunt reprehenderit. Qui aute
      ullamco est incididunt consequat. Est velit cupidatat tempor fugiat dolore magna labore incididunt dolor id
      officia velit. Consectetur aute velit occaecat ipsum reprehenderit tempor pariatur cillum culpa ut reprehenderit
      mollit aliqua amet. Deserunt cupidatat dolor id dolore eu dolor amet non enim aliqua.
    </md-accordian>
    <md-accordian>
      <span slot="headline">Headline</span>
      Excepteur in dolor quis labore cillum pariatur commodo commodo et pariatur voluptate sunt reprehenderit. Qui aute
      ullamco est incididunt consequat. Est velit cupidatat tempor fugiat dolore magna labore incididunt dolor id
      officia velit. Consectetur aute velit occaecat ipsum reprehenderit tempor pariatur cillum culpa ut reprehenderit
      mollit aliqua amet. Deserunt cupidatat dolor id dolore eu dolor amet non enim aliqua.
    </md-accordian>
    <md-accordian>
      <span slot="headline">Headline</span>
      Excepteur in dolor quis labore cillum pariatur commodo commodo et pariatur voluptate sunt reprehenderit. Qui aute
      ullamco est incididunt consequat. Est velit cupidatat tempor fugiat dolore magna labore incididunt dolor id
      officia velit. Consectetur aute velit occaecat ipsum reprehenderit tempor pariatur cillum culpa ut reprehenderit
      mollit aliqua amet. Deserunt cupidatat dolor id dolore eu dolor amet non enim aliqua.
    </md-accordian>
  </md-card>
</app-page>