@mixin typescale($scale, $size: null) {
  $typescale: if($size == null, $scale, '#{$scale}-#{$size}');
  font-size: var(--md-sys-typescale-#{$typescale}-size);
  font-weight: var(--md-sys-typescale-#{$typescale}-weight);
  font-family: var(--md-sys-typescale-#{$typescale}-font);
  letter-spacing: var(--md-sys-typescale-#{$typescale}-tracking);
  line-height: var(--md-sys-typescale-#{$typescale}-line-height);
}
