<app-page>
  <app-selector-list-item [(selectedValue)]="leading" [options]="leading.values">
    Leading
  </app-selector-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Trailing
    <md-check [switch]="true" [(value)]="trailing" />
  </md-list-item>
  <md-list-item>
    Progress
    <md-check [switch]="true" [(value)]="progressIndeterminate" />
  </md-list-item>
  <app-selector-list-item [(selectedValue)]="supportingText" [options]="supportingText.values">
    Supporting Text
  </app-selector-list-item>
  <md-list-item>
    Interactive
    <md-check [switch]="true" [(value)]="interactive" />
  </md-list-item>
  <md-list-item>
    Top
    <md-check [switch]="true" [(value)]="top" />
  </md-list-item>
  <md-list-item>
    Large
    <md-check [switch]="true" [(value)]="large" />
  </md-list-item>
  <md-list-item>
    Split
    <md-check [switch]="true" [(value)]="split" />
  </md-list-item>
  <md-list-item>
    Selected
    <md-check [switch]="true" [(value)]="selected" />
  </md-list-item>

  <ng-template #item>
    <md-list-item [selected]="selected()" [disabled]="disabled()" [progressIndeterminate]="progressIndeterminate()"
      [top]="top()" [large]="large()" [split]="split()" [type]="interactive() ? 'button' : undefined">
      Headline
      @switch (supportingText()) {
      @case ('short') {
      <p slot="supporting-text">Eiusmod non voluptate Lorem Lorem qui amet irure ex.</p>

      }
      @case ('long') {
      <p slot="supporting-text">Eiusmod non voluptate Lorem Lorem qui amet irure ex. In aliqua eiusmod incididunt
        eiusmod laboris eu nulla
        officia minim do mollit ipsum. Aliquip velit exercitation Lorem ipsum. Anim esse ut esse mollit non sit sit
        quis
        eu excepteur commodo.
        Eiusmod non voluptate Lorem Lorem qui amet irure ex. In aliqua eiusmod incididunt eiusmod laboris eu nulla
        officia minim do mollit ipsum. Aliquip velit exercitation Lorem ipsum. Anim esse ut esse mollit non sit sit
        quis
        eu excepteur commodo.
        Eiusmod non voluptate Lorem Lorem qui amet irure ex. In aliqua eiusmod incididunt eiusmod laboris eu nulla
        officia minim do mollit ipsum. Aliquip velit exercitation Lorem ipsum. Anim esse ut esse mollit non sit sit
        quis
        eu excepteur commodo.</p>

      }
      }
      @switch (leading()) {
      @case ('icon') {
      <md-icon>home</md-icon>
      }
      @case ('avatar') {
      <md-avatar fullName="Willem Toerien" />
      }
      @case ('image') {
      <img src="https://placehold.co/600x400" alt="image">
      }
      }
      @if (trailing()) {
      <md-check [switch]="true" />
      }
    </md-list-item>
  </ng-template>

  <md-card>
    <md-list>
      <ng-container *ngTemplateOutlet="item" />
      <ng-container *ngTemplateOutlet="item" />
      <md-divider />
      <ng-container *ngTemplateOutlet="item" />
    </md-list>
  </md-card>
</app-page>