<h1>md-checkbox</h1>
<md-card>
  <md-checkbox></md-checkbox>
  <md-checkbox checked></md-checkbox>
  <md-checkbox checked three-state indeterminate></md-checkbox>
</md-card>
<md-card>
  <md-checkbox><span slot="label">This is the label</span></md-checkbox>
</md-card>
<md-card>
  <md-checkbox error></md-checkbox>
  <md-checkbox error checked></md-checkbox>
  <md-checkbox error checked three-state indeterminate></md-checkbox>
</md-card>
<md-card>
  <md-checkbox disabled></md-checkbox>
  <md-checkbox disabled checked></md-checkbox>
  <md-checkbox disabled checked three-state indeterminate></md-checkbox>
</md-card>
<md-card>
  <md-checkbox disabled error></md-checkbox>
  <md-checkbox disabled error checked></md-checkbox>
  <md-checkbox disabled error checked three-state indeterminate></md-checkbox>
</md-card>