<h1>md-typescale</h1>
<md-card class="flex-col">
  <md-typescale scale="display" size="large">Display large</md-typescale>
  <md-typescale scale="display" size="medium">Display medium</md-typescale>
  <md-typescale scale="display" size="small">Display small</md-typescale>
</md-card>
<md-card class="flex-col">
  <md-typescale scale="headline" size="large">Headline large</md-typescale>
  <md-typescale scale="headline" size="medium">Headline medium</md-typescale>
  <md-typescale scale="headline" size="small">Headline small</md-typescale>
</md-card>
<md-card class="flex-col">
  <md-typescale scale="body" size="large">Body large</md-typescale>
  <md-typescale scale="body" size="medium">Body medium</md-typescale>
  <md-typescale scale="body" size="small">Body small</md-typescale>
</md-card>
<md-card class="flex-col">
  <md-typescale scale="label" size="large">Label large</md-typescale>
  <md-typescale scale="label" size="medium">Label medium</md-typescale>
  <md-typescale scale="label" size="small">Label small</md-typescale>
</md-card>
<md-card class="flex-col">
  <md-typescale scale="title" size="large">Title large</md-typescale>
  <md-typescale scale="title" size="medium">Title medium</md-typescale>
  <md-typescale scale="title" size="small">Title small</md-typescale>
</md-card>