<h1>
  md-colors
</h1>
<div class="flex gap-2">
  @for (palette of palettes; track palette) {
  <div>
    @for (variant of variants; track variant) {
    <div [ngStyle]="getBackground(palette, variant)" class="p-2">
      {{ palette }} {{ variant }}
    </div>
    <div [ngStyle]="getText(palette, variant)" class="p-2">
      {{ palette }} {{ variant }} on
    </div>
    }
  </div>
  }
</div>
<div class="flex flex-col">
  <div *ngFor="let surface of surfaces" [ngStyle]="getStyle(surface[0], surface[1])" class="p-2">
    {{ surface[0] }}
  </div>
</div>