<app-page>
  <md-list-item>
    Selected
    <md-check [switch]="true" [(value)]="selected" />
  </md-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Leading
    <md-check [switch]="true" [(value)]="leading" />
  </md-list-item>
  <md-list-item>
    Trailing
    <md-check [switch]="true" [(value)]="trailing" />
  </md-list-item>
  <md-list-item>
    Check on selected
    <md-check [switch]="true" [(value)]="checkOnSelected" />
  </md-list-item>

  <md-card class="[&::part(body)]:gap-2">
    <md-menu-item [selected]="selected()" [disabled]="disabled()" [checkOnSelected]="checkOnSelected()">
      @if (leading()) {
      <md-icon slot="leading">Home</md-icon>
      }
      Menu Item
      @if (trailing()) {
      <md-icon slot="trailing">Home</md-icon>
      }
    </md-menu-item>
    <md-button #button>Menu</md-button>
    <md-menu [target]="button">
      <md-menu-item>
        Item 1
      </md-menu-item>
      <md-menu-item>
        Item 2
      </md-menu-item>
      <md-divider />
      <md-menu-item>
        Item 3
        <md-menu-item>
          Item 1
        </md-menu-item>
        <md-menu-item>
          Item 2
        </md-menu-item>
        <md-divider />
        <md-menu-item>
          Item 3
        </md-menu-item>
      </md-menu-item>
    </md-menu>
  </md-card>
</app-page>