<app-page>
  <app-properties>
    <app-select-property [options]="variant.options" [(value)]="variant">Variant</app-select-property>
    <app-select-property [options]="type.options" [(value)]="type">Type</app-select-property>
    <app-select-property [options]="leading.options" [(value)]="leading">Leading</app-select-property>
    <app-select-property [options]="trailing.options" [(value)]="trailing">Trailing</app-select-property>
    <app-select-property [options]="state.options" [(value)]="state">State</app-select-property>
    <app-select-property [options]="label.options" [(value)]="label">Label</app-select-property>
    <app-check-property [(checked)]="counter">Counter</app-check-property>
    <app-check-property [(checked)]="supportingText">Supporting Text</app-check-property>
    <app-check-property [(checked)]="prefixText">Prefix</app-check-property>
    <app-check-property [(checked)]="suffixText">Suffix</app-check-property>
    <app-check-property [(checked)]="maxLength">Max length</app-check-property>
  </app-properties>

  <md-text-field [type]="type()" [variant]="variant()" [state]="state()"
    [stateMessage]="state() ? 'State text' : undefined" [counter]="counter()" [label]="labelText()"
    [prefixText]="prefixText() ? 'Prefix' : undefined" [suffixText]="suffixText() ? 'Suffix' : undefined" class="w-full"
    [maxLength]="maxLength() ? 10 : undefined">
    @if (leading() === 'icon') {
    <md-icon mdFieldLeading>home</md-icon>
    } @else if (leading() === 'image') {
    <img mdFieldLeading src="https://placehold.co/600x400" />
    } @else if (leading() === 'button') {
    <md-icon-button mdFieldLeading>home</md-icon-button>
    }

    @if (trailing() === 'icon') {
    <md-icon mdFieldTrailing>home</md-icon>
    } @else if (trailing() === 'image') {
    <img mdFieldTrailing src="https://placehold.co/600x400" />
    } @else if (trailing() === 'button') {
    <md-icon-button mdFieldTrailing>home</md-icon-button>
    } @if (supportingText()) {
    <md-field-supporting-text>Supporting text</md-field-supporting-text>
    }
  </md-text-field>

  <md-text-field>
    <md-list-item value="Toerien">Toerien</md-list-item>
    <md-list-item value="Kirton">Kirton</md-list-item>
    <md-list-item value="Balley">Balley</md-list-item>
  </md-text-field>

  <form [formGroup]="form" (ngSubmit)="submit()" class="inline-flex flex-col items-start gap-4">
    <md-text-field #one formControlName="firstName" label="First name" />
    <md-text-field #two formControlName="lastName" label="Last name" />
    <md-button type="submit" [disabled]="form.invalid">Submit</md-button>
  </form>

  {{ one.value() }}
  {{ two.value() }}
  {{ formValue() | json }}
</app-page>