<app-page>
  <app-selector-list-item [(selectedValue)]="variant" [options]="variant.values">
    Variant
  </app-selector-list-item>
  <app-selector-list-item [(selectedValue)]="type" [options]="type.values">
    Type
  </app-selector-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Error
    <md-check [switch]="true" [(value)]="error" />
  </md-list-item>
  <md-list-item>
    Prefix
    <md-check [switch]="true" [(value)]="prefix" />
  </md-list-item>
  <md-list-item>
    Suffix
    <md-check [switch]="true" [(value)]="suffix" />
  </md-list-item>
  <md-list-item>
    Label
    <md-check [switch]="true" [(value)]="label" />
  </md-list-item>
  <md-list-item>
    Supporting Text
    <md-check [switch]="true" [(value)]="supportingText" />
  </md-list-item>
  <md-list-item>
    Leading
    <md-check [switch]="true" [(value)]="leading" />
  </md-list-item>
  <md-list-item>
    Trailing
    <md-check [switch]="true" [(value)]="trailing" />
  </md-list-item>
  <md-list-item>
    Max Length
    <md-check [switch]="true" [(value)]="maxLength" />
  </md-list-item>
  <md-list-item>
    Items
    <md-check [switch]="true" [(value)]="items" />
  </md-list-item>
  <md-list-item>
    Min 5
    <md-check [switch]="true" [(value)]="min" />
  </md-list-item>
  <md-list-item>
    Max 30
    <md-check [switch]="true" [(value)]="max" />
  </md-list-item>

  <ng-template #contents>
    @if (prefix()) {
    <span slot="prefix">$</span>
    }
    @if (suffix()) {
    <span slot="suffix">.00</span>
    }
    @if (leading()) {
    <md-icon slot="leading">home</md-icon>
    }
    @if (trailing()) {
    <md-icon slot="trailing">home</md-icon>
    }
    @if (supportingText()) {
    <span slot="supporting-text">Supporting Text</span>
    }
    @if (items()) {
    @for (itemValue of itemValues; track itemValue) {
    @if (!field.value() || itemValue.includes(field.value()!)) {
    <md-list-item [value]="itemValue">{{ itemValue }}</md-list-item>
    }
    }
    }
  </ng-template>

  <md-card class="w-[400px] [&::part(body)]:items-stretch [&::part(body)]:gap-4">
    <md-text-field #field [variant]="variant()" [disabled]="disabled()" [label]="label() ? 'Label' : undefined"
      [errorText]="error() ? 'Error' : undefined" [type]="type()" [maxLength]="maxLength() ? 10 : undefined"
      [hasDropdown]="items()" [min]="min() ? 5 : undefined" [max]="max() ? 30 : undefined">
      <ng-container *ngTemplateOutlet="contents" />
    </md-text-field>
  </md-card>
</app-page>