<h1>md-menu-item</h1>
<md-card class="flex-col">
  <md-menu-item>
    <md-icon slot="icon">home</md-icon>
    Simple Item
    <span slot="trailing">CTRL+C</span>
  </md-menu-item>
  <md-menu-item selected>
    <md-icon slot="icon">home</md-icon>
    Simple Item
    <span slot="trailing">CTRL+C</span>
  </md-menu-item>
  <md-menu-item disabled>
    <md-icon slot="icon">home</md-icon>
    Simple Item
    <span slot="trailing">CTRL+C</span>
  </md-menu-item>
  <md-menu-item selected disabled>
    <md-icon slot="icon">home</md-icon>
    Simple Item
    <span slot="trailing">CTRL+C</span>
  </md-menu-item>
</md-card>