<h1>md-avatar</h1>
<md-card>
  <md-avatar palette="surface" avatar-name="Willem">
  </md-avatar>
  <md-avatar palette="surface" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar palette="surface" avatar-name="Willem" disabled>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="surface" avatar-name="Willem">
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="surface" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="surface" avatar-name="Willem" disabled>
  </md-avatar>
</md-card>
<md-card>
  <md-avatar palette="primary" avatar-name="Willem">
  </md-avatar>
  <md-avatar palette="primary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar palette="primary" avatar-name="Willem" disabled>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="primary" avatar-name="Willem">
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="primary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="primary" avatar-name="Willem" disabled>
  </md-avatar>
</md-card>
<md-card>
  <md-avatar palette="secondary" avatar-name="Willem">
  </md-avatar>
  <md-avatar palette="secondary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar palette="secondary" avatar-name="Willem" disabled>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="secondary" avatar-name="Willem">
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="secondary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="secondary" avatar-name="Willem" disabled>
  </md-avatar>
</md-card>
<md-card>
  <md-avatar palette="tertiary" avatar-name="Willem">
  </md-avatar>
  <md-avatar palette="tertiary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar palette="tertiary" avatar-name="Willem" disabled>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="tertiary" avatar-name="Willem">
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="tertiary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="tertiary" avatar-name="Willem" disabled>
  </md-avatar>
</md-card>
<md-card>
  <md-avatar size="72" palette="primary" avatar-name="Willem">
  </md-avatar>
  <md-avatar size="72" palette="primary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar size="72" palette="primary" avatar-name="Willem" disabled>
  </md-avatar>
  <md-avatar size="72"
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="primary" avatar-name="Willem">
  </md-avatar>
  <md-avatar size="72"
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="primary" avatar-name="Willem" activatable>
  </md-avatar>
  <md-avatar size="72"
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg&ga=GA1.1.1929941018.1705816468&semt=sph"
    palette="primary" avatar-name="Willem" disabled>
  </md-avatar>
</md-card>