<app-page>
  <app-selector-list-item [(selectedValue)]="position" [options]="position.values">
    Position
  </app-selector-list-item>
  <md-list-item>
    Modal
    <md-check [switch]="true" [(value)]="modal" />
  </md-list-item>
  <md-list-item>
    Large Content
    <md-check [switch]="true" [(value)]="largeContent" />
  </md-list-item>
  <md-list-item>
    Icon
    <md-check [switch]="true" [(value)]="icon" />
  </md-list-item>
  <md-list-item>
    Headline
    <md-check [switch]="true" [(value)]="headline" />
  </md-list-item>
  <md-list-item>
    Supporting Text
    <md-check [switch]="true" [(value)]="supportingText" />
  </md-list-item>
  <md-list-item>
    Actions
    <md-check [switch]="true" [(value)]="actions" />
  </md-list-item>

  <md-card class="[&::part(body)]:items-stretch">
    <div class="inline-flex" [class.flex-row]="position() === 'start'" [class.flex-row-reverse]="position() === 'end'"
      [class.flex-col]="position() === 'top'" [class.flex-col-reverse]="position() === 'bottom'">
      <md-sheet #sheet [modal]="modal()" [position]="position()" [maxWidth]="250" [maxHeight]="250">
        @if (icon()) {
        <md-icon slot="icon">Home</md-icon>
        }
        @if (headline()) {
        <span slot="headline">Headline</span>
        }
        @if (supportingText()) {
        <span slot="supporting-text">
          Laboris eu velit et velit qui quis.
        </span>
        }
        @if (actions()) {
        <md-button slot="action" (click)="sheet.open.set(false)">Okay</md-button>
        <md-button slot="action" (click)="sheet.open.set(false)">Cancel</md-button>
        }
        @if (largeContent()) {
        <div>
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
        </div>
        } @else {
        <div>
          Eu nisi tempor eu consequat id duis occaecat voluptate excepteur velit ut. Mollit Lorem consectetur velit
          voluptate pariatur nisi nisi proident id officia ad eiusmod. Labore sit qui culpa aliquip magna nulla est
          fugiat
          laborum laborum ex. Eiusmod eiusmod proident quis ad enim fugiat eiusmod cillum ex sit aliqua. Ut ullamco nisi
          commodo labore minim occaecat esse labore dolor.
        </div>
        }
      </md-sheet>
      <div class="inline-flex flex-col gap-4">
        <md-button (click)="sheet.open.set(!sheet.open())" class="self-start">Toggle Sheet</md-button>
        <div>
          Eu exercitation duis deserunt tempor ut ipsum irure esse aliquip proident et tempor est eiusmod. Lorem
          exercitation eiusmod laboris labore aliquip elit ipsum eiusmod tempor in incididunt. Non irure aute
          consectetur aliquip consectetur voluptate dolore adipisicing ut pariatur esse. Ex tempor labore eiusmod duis
          veniam non occaecat sit pariatur exercitation do. Amet nulla magna cillum dolor. Enim nostrud consequat velit
          ad aliquip nostrud. Ullamco duis consectetur pariatur veniam ipsum.
        </div>
      </div>
    </div>
  </md-card>
</app-page>