<app-page>
  <app-selector-list-item [(selectedValue)]="type" [options]="type.values">
    Type
  </app-selector-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Switch
    <md-check [switch]="true" [(value)]="switch" />
  </md-list-item>
  <md-list-item>
    Label
    <md-check [switch]="true" [(value)]="label" />
  </md-list-item>
  <md-list-item>
    Error
    <md-check [switch]="true" [(value)]="error" />
  </md-list-item>

  <md-card>
    <md-check [type]="type()" [disabled]="disabled()" [switch]="switch()" [errorText]="error() ? 'Error' : undefined">
      @if (label()) {
        This is the check's label.
      }
    </md-check>
  </md-card>
</app-page>