<md-card  class="flex flex-row p-4 gap-4">
  <md-fab>
    home
  </md-fab>
  <md-fab lowered>
    home
  </md-fab>
  <md-fab label="FAB label">
  </md-fab>
  <md-fab #fab open (click)="fab.open = !fab.open" label="FAB label">
    home
  </md-fab>
</md-card>
<md-card *ngFor="let palette of palettes" class="flex flex-row p-4 gap-4">
  <md-fab *ngFor="let size of sizes" [palette]="palette" [size]="size">
    home
  </md-fab>
  <md-fab [palette]="palette" size="small" disabled>
    home
  </md-fab>
</md-card>
<md-card  class="flex flex-row p-4 gap-4">
  <md-fab>
    home
    <md-fab slot="action">home</md-fab>
    <md-fab slot="action">home</md-fab>
    <md-fab slot="action">home</md-fab>
  </md-fab>
</md-card>