<app-page>
  <app-selector-list-item [(selectedValue)]="palette" [options]="palette.values">
    Palette
  </app-selector-list-item>
  <app-selector-list-item [(selectedValue)]="size" [options]="size.values">
    Size
  </app-selector-list-item>
  <md-list-item>
    Label
    <md-check [switch]="true" [(value)]="label" />
  </md-list-item>
  <md-list-item>
    Icon
    <md-check [switch]="true" [(value)]="icon" />
  </md-list-item>
  <md-list-item>
    Lowered
    <md-check [switch]="true" [(value)]="lowered" />
  </md-list-item>
  <md-list-item>
    Extended
    <md-check [switch]="true" [(value)]="extended" />
  </md-list-item>

  <md-card>
    <md-fab [palette]="palette()" [size]="size()" [extended]="extended()" [lowered]="lowered()">
      @if (icon()) {
        <md-icon>home</md-icon>
      }
      @if (label()) {
        <span slot="label">Label</span>
      }
    </md-fab>
  </md-card>
</app-page>