<app-page>
  <app-selector-list-item [(selectedValue)]="variant" [options]="variant.values">
    Variant
  </app-selector-list-item>
  <app-selector-list-item [(selectedValue)]="placement" [options]="placement.values">
    Placement: {{ placement() }}
  </app-selector-list-item>

  <md-card class="[&::part(body)]:gap-2">
    <md-button #button>Open</md-button>
    <md-tooltip [target]="button" [variant]="variant()" [placement]="placement()">
      @if (variant() === 'plain') {
        This is a tooltip.
      } @else {
      <span slot="headline">Headline</span>
      <p>Ex et ipsum et labore minim ad aute do ex magna elit fugiat consectetur anim. Laborum sit occaecat
        reprehenderit labore irure quis fugiat ea deserunt dolore. Ad eu laborum aliqua enim fugiat deserunt magna
        pariatur.</p>
      <md-button>Action</md-button>
      }
    </md-tooltip>
  </md-card>
</app-page>