<app-page>
  <app-selector-list-item [(selectedValue)]="variant" [options]="variant.values">
    Variant
  </app-selector-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Error
    <md-check [switch]="true" [(value)]="error" />
  </md-list-item>
  <md-list-item>
    Prefix
    <md-check [switch]="true" [(value)]="prefix" />
  </md-list-item>
  <md-list-item>
    Suffix
    <md-check [switch]="true" [(value)]="suffix" />
  </md-list-item>
  <md-list-item>
    Label
    <md-check [switch]="true" [(value)]="label" />
  </md-list-item>
  <md-list-item>
    Supporting Text
    <md-check [switch]="true" [(value)]="supportingText" />
  </md-list-item>
  <md-list-item>
    Counter
    <md-check [switch]="true" [(value)]="counter" />
  </md-list-item>
  <md-list-item>
    Leading
    <md-check [switch]="true" [(value)]="leading" />
  </md-list-item>
  <md-list-item>
    Trailing
    <md-check [switch]="true" [(value)]="trailing" />
  </md-list-item>
  <md-list-item>
    Populated
    <md-check [switch]="true" [(value)]="populated" />
  </md-list-item>

  <ng-template #contents>
    @if (prefix()) {
      <span slot="prefix">$</span>
    }
    @if (suffix()) {
      <span slot="suffix">.00</span>
    }
    @if (leading()) {
      <md-icon slot="leading">home</md-icon>
    }
    @if (trailing()) {
      <md-icon slot="trailing">home</md-icon>
    }
    @if (supportingText()) {
      <span slot="supporting-text">Supporting Text</span>
    }
    @if (counter()) {
      <span slot="counter">Counter</span>
    }
    Field contents
  </ng-template>

  <md-card class="w-[400px] [&::part(body)]:items-stretch [&::part(body)]:gap-4">
    <md-field [variant]="variant()" [disabled]="disabled()" [label]="label() ? 'Label' : undefined"
      [errorText]="error() ? 'Error' : undefined" [populated]="populated()">
      <ng-container *ngTemplateOutlet="contents" />
    </md-field>
  </md-card>
</app-page>