<app-page>
  <app-selector-list-item [(selectedValue)]="variant" [options]="variant.values">
    Variant
  </app-selector-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Progress
    <md-check [switch]="true" [(value)]="progressIndeterminate" />
  </md-list-item>
  <md-list-item>
    Selected
    <md-check [switch]="true" [(value)]="selected" />
  </md-list-item>
  <md-list-item>
    Badge Dot
    <md-check [switch]="true" [(value)]="dot" />
  </md-list-item>
  <app-selector-list-item [(selectedValue)]="number" [options]="number.values">
    Badge Number
  </app-selector-list-item>

  <md-card>
    <md-icon-button [variant]="variant()" [disabled]="disabled()" [progressIndeterminate]="progressIndeterminate()" [selected]="selected()" [badgeDot]="dot()" [badgeNumber]="number()">
      Home
    </md-icon-button>
  </md-card>
</app-page>