
  md-sheet {
    height: 100dvh;
    position: sticky;
    top: 0;
    &::part(content) {
      padding-top: 1rem;
      padding-bottom: 1rem;
      overflow-y: auto;
      padding-inline: 12px;
    }
  }