<div class="inline-flex flex-col p-4 w-full">
  <md-tabs>
    <md-tab>
      <md-icon mdTabLeading>home</md-icon>
      Home
    </md-tab>
    <md-tab>
      <md-icon mdTabLeading>star</md-icon>
      O
    </md-tab>
    <md-tab>
      <md-icon mdTabLeading>content_copy</md-icon>
      Something here
    </md-tab>
    <md-tab>
      <md-icon mdTabLeading>content_paste</md-icon>
      Longer item than this
    </md-tab>
  </md-tabs>
</div>
<div class="inline-flex flex-col p-4 w-full">
  <md-tabs [secondary]="true">
    <md-tab>
      <md-icon mdTabLeading>home</md-icon>
      Home
    </md-tab>
    <md-tab>
      <md-icon mdTabLeading>star</md-icon>
      O
    </md-tab>
    <md-tab>
      <md-icon mdTabLeading>content_copy</md-icon>
      Something here
    </md-tab>
    <md-tab>
      <md-icon mdTabLeading>content_paste</md-icon>
      Longer item than this
    </md-tab>
  </md-tabs>
</div>