<app-page>
  <app-selector-list-item [(selectedValue)]="palette" [options]="palette.values">
    Palette
  </app-selector-list-item>
  <app-selector-list-item [(selectedValue)]="size" [options]="size.values">
    Size
  </app-selector-list-item>
  <md-list-item>
    Is disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Interactive
    <md-check [switch]="true" [(value)]="interactive" />
  </md-list-item>

  <md-card class="[&::part(body)]:flex-row [&::part(body)]:gap-2">
    <md-avatar [palette]="palette()" [size]="size()" [disabled]="disabled()"
      [type]="interactive() ? 'button' : undefined" fullName="Willem Toerien" />
    <md-avatar [palette]="palette()" [size]="size()" [disabled]="disabled()"
      [type]="interactive() ? 'button' : undefined" fullName="Willem Toerien" src="avatar.jpg" />
  </md-card>
</app-page>