<h1>md-segmented-button-set</h1>
<md-card >
  <md-segmented-button-set class="w-full justify-stretch">
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
  </md-segmented-button-set>
</md-card>
<md-card >
  <md-segmented-button-set full class="w-full justify-stretch">
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
    <md-segmented-button>Hey</md-segmented-button>
  </md-segmented-button-set>
</md-card>