<app-page>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Secondary
    <md-check [switch]="true" [(value)]="secondary" />
  </md-list-item>
  <md-list-item>
    Icon
    <md-check [switch]="true" [(value)]="icon" />
  </md-list-item>
  <md-list-item>
    Label
    <md-check [switch]="true" [(value)]="label" />
  </md-list-item>

  <ng-template #content>
    @if (icon()) {
      <md-icon>home</md-icon>
    }
    @if (label()) {
      <span slot="label">Label</span>
    }
  </ng-template>

  <md-card class="w-[400px] [&:part(body)]:items-stretch">
    <md-tabs #tabs [secondary]="secondary()" class="w-full">
      <md-tab [disabled]="disabled()">
        <ng-container *ngTemplateOutlet="content" />
      </md-tab>
      <md-tab>
        <ng-container *ngTemplateOutlet="content" />
      </md-tab>
      <md-tab>
        <ng-container *ngTemplateOutlet="content" />
      </md-tab>
    </md-tabs>
  </md-card>
</app-page>