<h1>md-switch</h1>
<md-card>
  <md-switch></md-switch>
  <md-switch checked></md-switch>
</md-card>
<md-card>
  <md-switch>
    <md-icon slot="unchecked">close</md-icon>
  </md-switch>
  <md-switch>
    <md-icon slot="checked">check</md-icon>
  </md-switch>
  <md-switch>
    <md-icon slot="unchecked">close</md-icon>
    <md-icon slot="checked">check</md-icon>
  </md-switch>
</md-card>
<md-card>
  <md-switch><span slot="label">This is the label</span></md-switch>
</md-card>
<md-card>
  <md-switch error></md-switch>
  <md-switch error checked></md-switch>
</md-card>
<md-card>
  <md-switch disabled></md-switch>
  <md-switch disabled checked></md-switch>
</md-card>
<md-card>
  <md-switch disabled error></md-switch>
  <md-switch disabled error checked></md-switch>
</md-card>