<app-page>
  <app-selector-list-item [(selectedValue)]="level" [options]="level.values">
    Level
  </app-selector-list-item>
  <md-list-item>
    Hoverable
    <md-check [switch]="true" [(value)]="hoverable" />
  </md-list-item>
  <md-list-item>
    Interactive
    <md-check [switch]="true" [(value)]="interactive" />
  </md-list-item>

  <md-card>
    <div #host class="w-20 h-20 border border-solid border-outline relative inline-flex items-center justify-center">
      <md-elevation [target]="host" [level]="level()" [interactive]="interactive()" [hoverable]="hoverable()" />
    </div>
  </md-card>
</app-page>