<h1>colors</h1>
<md-card>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-primary text-primary-on p-2">
      Primary
    </div>
    <div class="bg-primary-on text-primary p-2">
      Primary On
    </div>
    <div class="bg-primary-container text-primary-container-on p-2">
      Primary Container
    </div>
    <div class="bg-primary-container-on text-primary-container p-2">
      Primary Container On
    </div>
    <div class="bg-primary-fixed text-primary-fixed-on p-2">
      Primary Fixed
    </div>
    <div class="bg-primary-fixed-dim text-primary-fixed-on p-2">
      Primary Fixed
    </div>
    <div class="bg-primary-fixed-on text-primary-fixed p-2">
      Primary Fixed On
    </div>
    <div class="bg-primary-fixed-variant text-primary-fixed p-2">
      Primary Fixed Variant
    </div>
    <div class="bg-primary-inverse text-primary-inverse-on p-2">
      Primary Inverse
    </div>
    <div class="bg-primary-inverse-on text-primary-inverse p-2">
      Primary Inverse On
    </div>
  </div>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-secondary text-secondary-on p-2">
      Secondary
    </div>
    <div class="bg-secondary-on text-secondary p-2">
      Secondary On
    </div>
    <div class="bg-secondary-container text-secondary-container-on p-2">
      Secondary Container
    </div>
    <div class="bg-secondary-container-on text-secondary-container p-2">
      Secondary Container On
    </div>
    <div class="bg-secondary-fixed text-secondary-fixed-on p-2">
      Secondary Fixed
    </div>
    <div class="bg-secondary-fixed-dim text-secondary-fixed-on p-2">
      Secondary Fixed
    </div>
    <div class="bg-secondary-fixed-on text-secondary-fixed p-2">
      Secondary Fixed On
    </div>
    <div class="bg-secondary-fixed-variant text-secondary-fixed p-2">
      Secondary Fixed Variant
    </div>
    <div class="bg-secondary-inverse text-secondary-inverse-on p-2">
      Secondary Inverse
    </div>
    <div class="bg-secondary-inverse-on text-secondary-inverse p-2">
      Secondary Inverse On
    </div>
  </div>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-tertiary text-tertiary-on p-2">
      Tertiary
    </div>
    <div class="bg-tertiary-on text-tertiary p-2">
      Tertiary On
    </div>
    <div class="bg-tertiary-container text-tertiary-container-on p-2">
      Tertiary Container
    </div>
    <div class="bg-tertiary-container-on text-tertiary-container p-2">
      Tertiary Container On
    </div>
    <div class="bg-tertiary-fixed text-tertiary-fixed-on p-2">
      Tertiary Fixed
    </div>
    <div class="bg-tertiary-fixed-dim text-tertiary-fixed-on p-2">
      Tertiary Fixed
    </div>
    <div class="bg-tertiary-fixed-on text-tertiary-fixed p-2">
      Tertiary Fixed On
    </div>
    <div class="bg-tertiary-fixed-variant text-tertiary-fixed p-2">
      Tertiary Fixed Variant
    </div>
    <div class="bg-tertiary-inverse text-tertiary-inverse-on p-2">
      Tertiary Inverse
    </div>
    <div class="bg-tertiary-inverse-on text-tertiary-inverse p-2">
      Tertiary Inverse On
    </div>
  </div>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-error text-error-on p-2">
      Error
    </div>
    <div class="bg-error-on text-error p-2">
      Error On
    </div>
    <div class="bg-error-container text-error-container-on p-2">
      Error Container
    </div>
    <div class="bg-error-container-on text-error-container p-2">
      Error Container On
    </div>
    <div class="bg-error-fixed text-error-fixed-on p-2">
      Error Fixed
    </div>
    <div class="bg-error-fixed-dim text-error-fixed-on p-2">
      Error Fixed
    </div>
    <div class="bg-error-fixed-on text-error-fixed p-2">
      Error Fixed On
    </div>
    <div class="bg-error-fixed-variant text-error-fixed p-2">
      Error Fixed Variant
    </div>
    <div class="bg-error-inverse text-error-inverse-on p-2">
      Error Inverse
    </div>
    <div class="bg-error-inverse-on text-error-inverse p-2">
      Error Inverse On
    </div>
  </div>
</md-card>
<md-card>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-surface-container-lowest text-surface-on p-2">
      Surface Container Lowest
    </div>
    <div class="bg-surface-container-low text-surface-on p-2">
      Surface Container Low
    </div>
    <div class="bg-surface-container text-surface-on p-2">
      Surface Container
    </div>
    <div class="bg-surface-container-high text-surface-on p-2">
      Surface Container High
    </div>
    <div class="bg-surface-container-highest text-surface-on p-2">
      Surface Container Highest
    </div>
  </div>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-surface-dim text-surface-on p-2">
      Surface Dim
    </div>
    <div class="bg-surface text-surface-on p-2">
      Surface
    </div>
    <div class="bg-surface-bright text-surface-on p-2">
      Surface Bright
    </div>
    <div class="bg-surface-variant text-surface-variant-on p-2">
      Surface Variant
    </div>
    <div class="bg-surface-variant-on text-surface-variant p-2">
      Surface Variant On
    </div>
  </div>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-surface-inverse text-surface-inverse-on p-2">
      Surface Inverse
    </div>
    <div class="bg-surface-inverse-on text-surface-inverse p-2">
      Surface Inverse On
    </div>
  </div>
</md-card>
<md-card>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-background text-background-on p-2">
      Background
    </div>
    <div class="bg-background-on text-background p-2">
      Background On
    </div>
    <div class="bg-outline text-surface p-2">
      Outline
    </div>
    <div class="bg-outline-variant text-surface-on p-2">
      Outline Variant
    </div>
  </div>
  <div class="flex flex-col w-[12rem]">
    <div class="bg-scrim text-surface p-2">
      Scrim
    </div>
    <div class="bg-shadow text-surface p-2">
      Shadow
    </div>
  </div>
</md-card>