<h1>md-icon-button</h1>
<md-card>
  <md-icon-button variant="standard">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button variant="standard" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="standard">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="standard" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
</md-card>
<md-card>
  <md-icon-button variant="filled">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button variant="filled" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="filled">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="filled" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
</md-card>
<md-card>
  <md-icon-button variant="tonal">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button variant="tonal" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="tonal">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="tonal" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
</md-card>
<md-card>
  <md-icon-button variant="outlined">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button variant="outlined" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="outlined">
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button disabled variant="outlined" selected>
    <md-icon>home</md-icon>
  </md-icon-button>
</md-card>
<md-card>
  <md-icon-button variant="standard" badge-dot>
    <md-icon>home</md-icon>
  </md-icon-button>
  <md-icon-button variant="standard" badge-number="1">
    <md-icon>home</md-icon>
  </md-icon-button>
</md-card>