<h1>md-navigation-item</h1>
<md-card>
  <md-navigation-item badge-dot>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item badge-number="1">
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item selected>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item disabled>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item disabled selected>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
</md-card>
<md-card class="flex-col">
  <md-navigation-item drawer badge-dot>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item drawer  badge-number="1">
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item drawer selected>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item drawer disabled>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
  <md-navigation-item drawer disabled selected>
    <md-icon slot="icon">home</md-icon>
    Home
  </md-navigation-item>
</md-card>