<app-page>
  <app-selector-list-item [(selectedValue)]="variant" [options]="variant.values">
    Variant
  </app-selector-list-item>
  <app-selector-list-item [(selectedValue)]="length" [options]="length.values">
    Length
  </app-selector-list-item>
  <md-list-item>
    Disabled
    <md-check [switch]="true" [(value)]="disabled" />
  </md-list-item>
  <md-list-item>
    Error
    <md-check [switch]="true" [(value)]="error" />
  </md-list-item>
  <md-list-item>
    Supporting Text
    <md-check [switch]="true" [(value)]="supportingText" />
  </md-list-item>

  <ng-template #contents>
    @if (supportingText()) {
    <span slot="supporting-text">Supporting Text</span>
    }
  </ng-template>

  <md-card class="w-[400px] [&::part(body)]:items-stretch [&::part(body)]:gap-4">
    <md-pin-field #field [variant]="variant()" [disabled]="disabled()" [errorText]="error() ? 'Error' : undefined" [length]="length()">
      <ng-container *ngTemplateOutlet="contents" />
    </md-pin-field>
    <md-button class="self-start" (click)="field.value.set('1234')">Set Value</md-button>
  </md-card>
</app-page>