<h1>md-button</h1>
<md-card>
  <md-button variant="elevated">Elevated</md-button>
  <md-button variant="elevated">
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="elevated" trailing-icon>
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="elevated" disabled>Elevated</md-button>
</md-card>
<md-card>
  <md-button variant="filled">Elevated</md-button>
  <md-button variant="filled">
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="filled" trailing-icon>
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="filled" disabled>Elevated</md-button>
</md-card>
<md-card>
  <md-button variant="tonal">Elevated</md-button>
  <md-button variant="tonal">
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="tonal" trailing-icon>
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="tonal" disabled>Elevated</md-button>
</md-card>
<md-card>
  <md-button variant="outlined">Elevated</md-button>
  <md-button variant="outlined">
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="outlined" trailing-icon>
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="outlined" disabled>Elevated</md-button>
</md-card>
<md-card>
  <md-button variant="text">Elevated</md-button>
  <md-button variant="text">
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="text" trailing-icon>
    <md-icon slot="icon">home</md-icon>
    Elevated
  </md-button>
  <md-button variant="text" disabled>Elevated</md-button>
</md-card>