<h1>
  md-text-field
</h1>
<md-card *ngFor="let variant of variants" class="flex flex-col p-4 gap-4">
  <md-text-field [variant]="variant" required>
  </md-text-field>
  <md-text-field [variant]="variant" label="Label text">
  </md-text-field>
  <md-text-field [variant]="variant">
    <md-icon slot="leading">home</md-icon>
    <md-icon slot="trailing">home</md-icon>
  </md-text-field>
  <md-text-field [variant]="variant" label="Label text">
    <md-icon slot="leading">home</md-icon>
    <md-icon slot="trailing">home</md-icon>
  </md-text-field>
  <md-text-field [variant]="variant" supporting-text="This field is required." maxlength="30">
    <md-icon slot="leading">home</md-icon>
    <md-icon slot="trailing">home</md-icon>
  </md-text-field>
</md-card>

<md-card *ngFor="let variant of variants" class="flex flex-col p-4 gap-4">
  <md-text-field type="textarea" [variant]="variant" required>
  </md-text-field>
  <md-text-field type="textarea" [variant]="variant" label="Label text">
  </md-text-field>
  <md-text-field type="textarea" [variant]="variant">
    <md-icon slot="leading">home</md-icon>
    <md-icon slot="trailing">home</md-icon>
  </md-text-field>
  <md-text-field type="textarea" [variant]="variant" label="Label text">
    <md-icon slot="leading">home</md-icon>
    <md-icon slot="trailing">home</md-icon>
  </md-text-field>
  <md-text-field type="textarea" [variant]="variant" supporting-text="This field is required." maxlength="30">
    <md-icon slot="leading">home</md-icon>
    <md-icon slot="trailing">home</md-icon>
  </md-text-field>
</md-card>