<h1>md-card</h1>
<md-card>
  <md-card variant="elevated">
    elevated
  </md-card>
  <md-card variant="elevated" activatable>
    elevated
  </md-card>
  <md-card variant="elevated" disabled>
    elevated
  </md-card>
</md-card>
<md-card>
  <md-card variant="filled">
    filled
  </md-card>
  <md-card variant="filled" activatable>
    filled
  </md-card>
  <md-card variant="filled" disabled>
    filled
  </md-card>
</md-card>
<md-card>
  <md-card variant="outlined">
    outlined
  </md-card>
  <md-card variant="outlined" activatable>
    outlined
  </md-card>
  <md-card variant="outlined" disabled>
    outlined
  </md-card>
</md-card>