<app-page>
  <app-properties>
    <app-select-property [options]="variant.options" [(value)]="variant">Variant</app-select-property>
    <app-select-property [options]="leading.options" [(value)]="leading">Leading</app-select-property>
    <app-select-property [options]="trailing.options" [(value)]="trailing">Trailing</app-select-property>
    <app-check-property [(checked)]="disabled">Disabled</app-check-property>
    <app-check-property [(checked)]="anchor">Anchor</app-check-property>
    <app-check-property [(checked)]="progressIndicator">Progress indicator</app-check-property>
  </app-properties>

  <md-button [variant]="variant()" [disabled]="disabled()" [href]="anchor() ? '#' : undefined"
    [badgeText]="trailing() === 'badge' ? 'New' : undefined" [progressIndicatorIndeterminate]="progressIndicator()">
    @if (leading() === 'icon') {
    <md-icon mdButtonLeading>home</md-icon>
    } @else if (leading() === 'img') {
    <img src="https://avatar.iran.liara.run/public/26" />
    } Button @if (trailing() === 'icon') {
    <md-icon mdButtonTrailing>home</md-icon>
    }
  </md-button>
</app-page>