@use 'touch';

@mixin button {
  .button {
    border-radius: inherit;
    cursor: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
    text-decoration: none;
    z-index: 0;
    height: 100%;
    width: 100%;
    font: inherit;
    padding: 0;
    gap: inherit;
    text-transform: inherit;
    background-color: transparent;

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    @include touch.touch;

    @content;
  }
}
