<h1>md-fab</h1>
<md-card>
  <md-fab palette="surface" size="medium">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="surface" size="medium" lowered>
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab #extendedFab palette="surface" size="medium" extended (click)="extendedFab.extended = !extendedFab.extended">
    <md-icon slot="icon">home</md-icon>
    <span slot="label">Label text</span>
  </md-fab>
  <md-fab palette="surface" size="medium" extended>
    <span slot="label">Label text</span>
  </md-fab>
</md-card>
<md-card>
  <md-fab palette="surface" size="large">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="surface" size="medium">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="surface" size="small">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
</md-card>
<md-card>
  <md-fab palette="primary" size="large">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="primary" size="medium">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="primary" size="small">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
</md-card>
<md-card>
  <md-fab palette="secondary" size="large">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="secondary" size="medium">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="secondary" size="small">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
</md-card>
<md-card>
  <md-fab palette="tertiary" size="large">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="tertiary" size="medium">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
  <md-fab palette="tertiary" size="small">
    <md-icon slot="icon">home</md-icon>
  </md-fab>
</md-card>